*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
    /* outline: black; */
} 
    
:focus,:active{outline: none;} 
a:focus,a:active{outline: none;} 

nav,footer,header,aside{display: block;} 

:root{ 
--boss: rgb(160, 160, 160); 
--colors: rgb(210, 198, 198); 
}  

input,button,textarea{font-family:inherit;} 

input::-ms-clear{display: none;} 
button{cursor: pointer;} 
button::-moz-focus-inner {padding:0;border:0;} 
a, a:visited{text-decoration: none;} 
a:hover{text-decoration: none;} 
ul li{list-style: none;}
ol li{list-style: none;}  
img{vertical-align: top;} 

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 

html{ 
scroll-behavior: smooth; 
overflow-x: hidden;
}
.head__bgraund {
    width: 100%;
    background: rgb(18, 18, 18);
    /* overflow-x: hidden; */
    transition: 0.5s;
}
/* .head__bgraund.new {
    position: fixed;
    z-index: 3;
} */
.head {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.head__img {
    max-width: 140px;
}
.head__nav {
    width: 740px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text__nav {
    color: white;
    font-size: 24px;
    transition: 0.6s;
}
.text__nav:hover {
    transform: scale(1.2);
}
.head__btn {
    padding: 20px;
    color: wheat;
    font-size: 20px;
    background: linear-gradient(black, rgb(161, 145, 55));
    border-radius: 20px;
    transition: 0.6s;
}
.head__a {
    transition: 0.6s;
}
.head__a:hover {
    transform: scale(1.1);
}
.main__block1-bgraund {
    width: 100%;
    height: 100vh;
    background-image: url(./img/84b30778b2bbd133304a3a93d99bff47.jpg);
    background-size: cover;
    border: 1px solid #000;
}
.main__block1 {
    max-width: 1120px;
    margin: 0 auto;
}
.block1-title {
    color: rgb(161, 145, 55);
    font-family: Rubik Bubbles;
    font-size: 40px;
    margin-bottom: 30px;
}
.block1-text {
    color: white;
    font-family: Rubik Bubbles;
    font-size: 34px;
}
.block1-texts {
    max-width: 500px;
    text-align: center;
    margin-top: 35vh;
}
.main__block2-bgraund {
}
.main__block2 {
    width: 100%;
    height: 100vh;
    background-image: url(./img/marvels-spider-man-miles-morales-3840x2158-3110.jpg);
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.main__block2-card {
    width: 600px;
    border: 3px solid #000;
    height: 350px;
    border-radius: 20px;
    background-image: url(./img/video_game-marvel_s_spider_man_2-miles_morales-spider_man-1042590.jpeg);
    background-size: cover;
    margin-top: 20vh;
    transition: 1s;
}
.main__block2-card.designs1 {
    background-image: url(./img/Человек\ паук\ 2\ обом.jpg);
    background-size: cover;
    width: 600px;
    border: 3px solid #000;
    height: 350px;
    border-radius: 20px;
}
.main__block2-card.designs2 {
    background-image: url(./img/img2.akspic.ru-chudo_chelovek_pauk_majl_morales-chelovek_pauk-majlz_morales-piter_parker-playstation_5-3840x2160.jpg);
    background-position: center;
    background-size: cover;
    width: 600px;
    border: 3px solid #000;
    height: 350px;
    border-radius: 20px;
}
.main__block2-card.designs3 {
    background-image: url(./img/video_game-spider_man_ps4-aunt_may_parker-harry_osborn-mary_jane_watson-peter_parker-spider_man-423622.jpeg);
    background-size: cover;
    width: 600px;
    border: 3px solid #000;
    height: 350px;
    border-radius: 20px;
}
.main__block2-card.designs4 {
    background-image: url(./img/125295-geroj-fikciya-chelovek_pauk-zheleznyj_chelovek-videoigra-3840x2160.jpg);
    background-size: cover;
    width: 600px;
    border: 3px solid #000;
    height: 350px;
    border-radius: 20px;
}
.main__block2-card.designs5 {
    background-image: url(./img/marvels-spiderman-2-hd-wallpaper-1920x1080-uhdpaper.com-689.1_b.jpg);
    background-size: cover;
    width: 600px;
    border: 3px solid #000;
    height: 350px;
    border-radius: 20px;
}
.main__block2-card.designs6 {
    background-image: url(./img/marvels-spider-man-2-be-greater-together-4k-4d-1920x1080.jpg);
    background-size: cover;
    width: 600px;
    border: 3px solid #000;
    height: 350px;
    border-radius: 20px;
}
.main__block2-card.designs7 {
    background-image: url(./img/marvels-spider-man-miles-morales-5120x2880-14048.png);
    background-size: cover;
    width: 600px;
    border: 3px solid #000;
    height: 350px;
    border-radius: 20px;
}
.main__block2-card.designs8 {
    background-image: url(./img/marvels-spider-man-miles-morales-3840x2158-3110.jpg);
    background-size: cover;
    width: 600px;
    border: 3px solid #000;
    height: 350px;
    border-radius: 20px;
}
.main__block2-card.designs9 {
    background-image: url(./img/venom-suit-3840x2160-17587.jpeg);
    background-size: cover;
    width: 600px;
    border: 3px solid #000;
    height: 350px;
    border-radius: 20px;
}
.main__block2-card.designs10 {
    background-image: url(./img/marvels-spider-man-2-4k-wallpaper-3840x2160-15590.jpeg);
    background-size: cover;
    width: 600px;
    border: 3px solid #000;
    height: 350px;
    border-radius: 20px;
}
.block2-cardinside {
    max-width: 560px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.inside-block1 {
    display: flex;
    justify-content: space-between;
}
.block2__card-img {
    width: 85px;
    border-radius: 60px;
    margin-top: 10px;
}
.block2__card-img2 {
    width: 80px;
}
.inside-block2 {
    display: flex;
    justify-content: space-between;
}
.block2__card-img3 {
    width: 55px;
    margin-top: 5px;
    margin-left: 10px;
    transform: rotate(-90deg);
    box-shadow: 0 0 200px white;
}
.block2__card-img4 {
    width: 60px;
}
.inside-block3 {
    display: flex;
    justify-content: space-around;
}
.block2__card-text {
    color: rgb(158, 23, 2);
    font-size: 50px;
    text-shadow: 0 0 20px #000;
    z-index: 6;
    font-family: Fredoka;
}
.block2__card-text1 {
    color: rgb(158, 23, 2);
    font-size: 40px;
    text-shadow: 0 0 20px #000;
    z-index: 6;
    font-family: Fredoka;
    margin-left: 285px;
}
.block2__card-text2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-shadow: 0 0 20px #ffffff;
    z-index: 6;
    font-family: Fredoka;
}
.block2-texts {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 20vh;
    align-items: center;
    position: relative;
}
.block2-title {
    color: rgb(161, 145, 55);
    font-family: Rubik Bubbles;
    font-size: 40px;
    text-shadow:  0 0 30px black;
}
.card-designs {
    color: wheat;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    width: 180px;
    background: linear-gradient(rgb(113, 12, 12), rgb(11, 11, 74));
}
.modal1 {
    transform: scale(0);
    width: 250px;
    padding: 15px;
    position: absolute;
    /* left: -500px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 1s;
    top: 155px;
    background-image: url(./img/marvels-spiderman-2-hd-wallpaper-1920x1080-uhdpaper.com-689.1_b.jpg);
    background-size: cover;
    align-items: center;
    border-radius: 20px;
    z-index: 10;
}
.designs1, .designs2, .designs3, .designs4, .designs5, .designs6, .designs7, .designs8, .designs9, .designs10 {
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    color: wheat;
    font-size: 16px;
    background: linear-gradient(rgb(2, 23, 65), rgb(114, 3, 3));
}
.modal1.designs {
    transform: scale(1);
    /* left: 0; */
}