*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
    /* outline: black; */
} 
    
:focus,:active{outline: none;} 
a:focus,a:active{outline: none;} 

nav,footer,header,aside{display: block;} 

:root{ 
--boss: rgb(160, 160, 160); 
--colors: rgb(210, 198, 198); 
}  

input,button,textarea{font-family:inherit;} 

input::-ms-clear{display: none;} 
button{cursor: pointer;} 
button::-moz-focus-inner {padding:0;border:0;} 
a, a:visited{text-decoration: none;} 
a:hover{text-decoration: none;} 
ul li{list-style: none;}
ol li{list-style: none;}  
img{vertical-align: top;} 

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 

html{ 
scroll-behavior: smooth; 
overflow-y: hidden;
}
.form {
    width: 100%;
    height: 100vh;
    background-image: url(../img/marvels-spiderman-2-hd-wallpaper-1920x1080-uhdpaper.com-689.1_b.jpg);
    background-size: cover;
    /* background-position: center; */
    padding-top: 80px;
}
.form-title {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    font-family: Fredoka;
    color: rgb(25, 13, 25);
}
.block-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0 auto;
    border: 1px solid #ffffff;
    /* margin-top: 150px; */
    padding: 15px;
    gap: 25px;
    border-radius: 10px;
    background-image: url(../img/marvels-spider-man-2-4k-wallpaper-3840x2160-15590.jpeg);
    background-size: cover;
    background-position: center;
    /* position: absolute; */
}
.box-one {
    display: flex;
    gap: 10px;
}
.box-one__stroke {
    border-bottom: 1px solid #000;
}
.form-lable {
    font-size: 25px;
    font-weight: 600;
    text-shadow: 0 0 20px #ffffff;
    font-family: Fredoka;
}
.name-input {
    width: 100%;
    border-radius: 20px;
    padding: 3px;
    font-family: Fredoka;
    font-style: 20px;
    font-weight: 500;
}
.password-input {
    width: 100%;
    border-radius: 20px;
    padding: 3px;
    font-family: Fredoka;
    font-style: 20px;
    font-weight: 500;
}
.box-stroke {
    border-bottom: 1px solid #000;
}
.email-input {
    width: 100%;
    border-radius: 20px;
    padding: 3px;
    font-family: Fredoka;
    font-style: 20px;
    font-weight: 500;
}
.phone-input {
    width: 100%;
    border-radius: 20px;
    padding: 3px;
    font-family: Fredoka;
    font-style: 20px;
    font-weight: 500;
}
.check-input {
}
.form-button {
    width: 120px;
    /* border: 1px solid #000; */
    border-radius: 15px;
    margin: 0 auto;
    padding: 3px;
    color: white;
    font-size: 30px;
    font-family: Fredoka;
    font-weight: 500;
    background: linear-gradient(rgb(67, 24, 24), rgb(19, 19, 54));
}
.modal-name {
    opacity: 0;
    width: 200px;
    border: 3px solid #ffffff;
    /* background: #000000; */
    background: white;
    color: red;
    position: absolute;
    top: 20px;
    transition: 1s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
    font-weight: 900;
}
.modal-name.name {
    opacity: 1;
}
.modal-name2 {
    opacity: 0;
    width: 200px;
    border: 1px solid #907c7c;
    background: white;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-name2.name2 {
    opacity: 1;
}
.modal-name3 {
    opacity: 0;
    width: 200px;
    border: 3px solid #907c7c;
    background: white;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-name3.name3 {
    opacity: 1;
}
.modal-password {
    opacity: 0;
    width: 200px;
    border: 3px solid #907c7c;
    background: white;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-password.password {
    opacity: 1;
}
.modal-password2 {
    opacity: 0;
    width: 200px;
    border: 3px solid #907c7c;
    background: white;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-password2.password2 {
    opacity: 1;
}
.modal-email {
    opacity: 0;
    width: 200px;
    border: 3px solid #907c7c;
    background: white;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-email.email {
    opacity: 1;
}
.modal-phone {
    opacity: 0;
    width: 200px;
    border: 3px solid #907c7c;
    background: white;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-phone.phone {
    opacity: 1;
}
.modal-phone2 {
    opacity: 0;
    width: 200px;
    border: 3px solid #907c7c;
    background: white;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-phone2.phone2 {
    opacity: 1;
}
.modal-phone3 {
    opacity: 0;
    width: 200px;
    border: 3px solid #907c7c;
    background: white;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-phone3.phone3 {
    opacity: 1;
}
.modal-check {
    opacity: 0;
    width: 200px;
    border: 3px solid #907c7c;
    background: white;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-check.check {
    opacity: 1;
}
.name-text {
    font-size: 20px;
    color: rgb(125, 5, 5);
    font-family: Arial;
    text-align: center;
}
/* Стилі для великих екранів (дисплей максимум 1199рх) */
@media (max-width: 1199px) { ... }

/* Стилі для середніх екранів (дисплей максимум 991рх) */
    @media (max-width: 991px) { ... }

/* Стилі для малих екранів (дисплей максимум 767рх) */
    @media (max-width: 767px) { ... }

/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
    @media (max-width: 575px) {
        .block-form {
            max-width: 300px;
        }
    }