*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
    /* outline: black; */
} 
    
:focus,:active{outline: none;} 
a:focus,a:active{outline: none;} 

nav,footer,header,aside{display: block;} 

:root{ 
--boss: rgb(160, 160, 160); 
--colors: rgb(210, 198, 198); 
}  

input,button,textarea{font-family:inherit;} 

input::-ms-clear{display: none;} 
button{cursor: pointer;} 
button::-moz-focus-inner {padding:0;border:0;} 
a, a:visited{text-decoration: none;} 
a:hover{text-decoration: none;} 
ul li{list-style: none;}
ol li{list-style: none;}  
img{vertical-align: top;} 

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 

html{ 
scroll-behavior: smooth; 
overflow-x: hidden;
}
.form {
    width: 100%;
}
.form-title {
    text-align: center;
    font-size: 35px;
}
.block-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0 auto;
    border: 1px solid #000;
    margin-top: 150px;
    padding: 15px;
    gap: 25px;
    border-radius: 10px;
}
.box-one {
    display: flex;
    gap: 10px;
}
.box-one__stroke {
    border-bottom: 1px solid #000;
}
.form-lable {
    font-size: 18px;
}
.name-input {
    width: 100%;
}
.password-input {
    width: 100%;
}
.box-stroke {
    border-bottom: 1px solid #000;
}
.email-input {
    width: 100%;
}
.phone-input {
    width: 100%;
}
.check-input {
}
.form-button {
    width: 200px;
    border: 1px solid #000;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 18px;
}
.modal-name {
    opacity: 0;
    width: 200px;
    border: 1px solid #907c7c;
    position: absolute;
    top: 20px;
    transition: 1s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-name.name {
    opacity: 1;
}
.modal-name2 {
    opacity: 0;
    width: 200px;
    border: 1px solid #907c7c;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-name2.name2 {
    opacity: 1;
}
.modal-name3 {
    opacity: 0;
    width: 200px;
    border: 1px solid #907c7c;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-name3.name3 {
    opacity: 1;
}
.modal-password {
    opacity: 0;
    width: 200px;
    border: 1px solid #907c7c;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-password.password {
    opacity: 1;
}
.modal-password2 {
    opacity: 0;
    width: 200px;
    border: 1px solid #907c7c;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-password2.password2 {
    opacity: 1;
}
.modal-email {
    opacity: 0;
    width: 200px;
    border: 1px solid #907c7c;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-email.email {
    opacity: 1;
}
.modal-phone {
    opacity: 0;
    width: 200px;
    border: 1px solid #907c7c;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-phone.phone {
    opacity: 1;
}
.modal-phone2 {
    opacity: 0;
    width: 200px;
    border: 1px solid #907c7c;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-phone2.phone2 {
    opacity: 1;
}
.modal-phone3 {
    opacity: 0;
    width: 200px;
    border: 1px solid #907c7c;
    position: absolute;
    top: 20px;
    transition: 0.7s;
    border-radius: 10px;
    padding: 10px;
    right: 20px;
}
.modal-phone3.phone3 {
    opacity: 1;
}
.name-text {
    font-size: 20px;
    color: red;
    text-align: center;
}